<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.sdk.open.aweme" >

    <application>
        <activity android:name="com.bytedance.sdk.open.aweme.authorize.ui.TikTokWebAuthorizeActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="behind"/>
        <activity android:name="com.bytedance.sdk.open.aweme.authorize.ui.AwemeWebAuthorizeActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:screenOrientation="behind"/>
    </application>
</manifest>