<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.sdk.open.tiktok">

    <application>
        <activity android:name="com.bytedance.sdk.open.tiktok.authorize.WebAuthActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="behind"/>

<!--        android:launchMode="singleTask"-->
        <activity
            android:name=".TikTokShareResponseActivity"
            android:taskAffinity="com.bytedance.sdk.open.tiktok"
            android:exported="true"/>

    </application>
</manifest>
