<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.sdk.open.tiktok">

    <application>

        <activity android:name="com.bytedance.sdk.open.tiktok.ui.TikTokWebAuthorizeActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="behind"/>
    </application>

</manifest>
