<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.sdk.open.tiktok">

    <queries>
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
    </queries>

    <application>

    </application>

</manifest>
